@{
    ViewBag.Title = "RandomHoTen";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container">
    <h3>2.	Viết hàm random họ tên theo danh sách 3 mảng các từ có sẵn (Họ, Đệm, Tên)</h3>
    <form action="/Home/XuLyRandomHoTen" method="post" style="display:inline-block">
        <div>
            <table class="table">
                <tr>
                    <td>
                        <input type="submit" value="Random Họ Tên" class="btn btn-danger" />
                    </td>
                </tr>
            </table>
        </div>
    </form>
    <div>
        <span style="font-size:17px;font-weight:bold;">@ViewBag.kq</span>
    </div>
</div>

